body {
    margin: 0;
    font-family: Arial;
    background: #000;
    color: white;
    text-align: center;
}

/* ALERTA */
.top-bar {
    background: red;
    padding: 8px;
    font-size: 14px;
}

/* CONTADOR */
.contador {
    background: #111;
    padding: 10px;
    color: #00ffcc;
    font-weight: bold;
}

/* CARDS */
.cards, .pacotes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card, .pacote {
    background: #111;
    border: 1px solid #b400ff;
    margin: 15px;
    padding: 20px;
    width: 260px;
    border-radius: 15px;
    transition: 0.3s;
    position: relative;
}

.card:hover, .pacote:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #b400ff;
}

/* DESTAQUE */
.destaque {
    border: 2px solid #00ffcc;
    box-shadow: 0 0 20px #00ffcc;
}

.badge {
    position: absolute;
    top: -10px;
    left: 10px;
    background: #00ffcc;
    color: black;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
}

/* CIRCLE */
.circle {
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
    background: #b400ff;
    box-shadow: 0 0 20px #b400ff;
}

/* GOLD */
.gold {
    border-color: gold;
}

/* BOTÃO */
button {
    background: #b400ff;
    border: none;
    padding: 10px;
    color: white;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 0 10px #b400ff;
}

/* WHATSAPP */
.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25D366;
    padding: 15px;
    border-radius: 50%;
    font-size: 20px;
}

/* POPUP */
.popup {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: #111;
    padding: 10px;
    border-radius: 10px;
    display: none;
}